{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}
    <title>Mirsaid's Steam</title>
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock link %}

{% block content %}
    <h1>Upload your game</h1>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success" type="submit">Upload</button>
    </form>
    <hr>
    <div class="container">
        <table class="table table-secondary table-striped table-hover table-responsive">
            <tr>
                <th>№</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Delete user</th>
            </tr>

            {% for user in users %}
                <tr>
                    <th>
                        <a href="{% url 'user_details' user.id %}">
                            {{ user.id }}
                        </a>
                    </th>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td style="cursor:pointer;" onclick="delete_user({{user.id}})">
                        ❌
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}
{% block script %}
    <script>
    let url = "{% url 'user_details' 99999 %}"
    function go_to_details(id) {
      url = url.replace('99999', id)
      location.href = url
    }
  </script>
{% endblock %}