{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}
    <title>Mirsaid's Steam</title>
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock link %}

{% block content %}
    <h1>Upload your game</h1>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success" type="submit">Upload</button>
    </form>
    <hr>
    <div class="container">
        <table class="table table-secondary table-striped table-hover table-responsive">
            <tr>
                <th>№</th>
                <th>Name of game</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Price</th>
                <th>Delete game</th>
            </tr>

            {% for game in games %}
                <tr>
                    <th>
                        <a href="{% url 'game_details' game.id %}">
                            {{ game.id }}
                        </a>
                    </th>
                    <td>{{ game.name_of_game }}</td>
                    <td>{{ game.author }}</td>
                    <td>{{ game.genre }}</td>
                    <td>{{ game.price }}</td>
                    <td style="cursor:pointer;" onclick="delete_game({{game.id}})">
                        ❌
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}
{% block script %}
    <script>
        function delete_user(id) {
            let delete_url = "{% url 'delete_game' 99999 %}"
            if (confirm(`Are you sure to delete?`)) {
                delete_url = delete_url.replace('99999', id)
                location.href = delete_url
            } else {
                console.log('Canceled')
                alert("Canceled")
            }
        }
    </script>
{% endblock %}